name: release
on:
  push:
    tags:
      - "v*"

jobs:
  release-github:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@egs33'

      - name: publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-npm:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write  # Required for OIDC
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org/'
          scope: '@egs33'

      - name: publish
        run: npm publish --access public
